# Секретные данные
.env

# Кэш Python
__pycache__/
*.pyc

# Виртуальное окружение
.venv/
.env/

# Файлы IDE
.vscode/
.idea/

# Логи
logs/
*.logs
logs/

migrations\versions\
.pytest_cache

alembic.ini

test_async_api.py
test_manual_api.py
test_provider.py
test_vpn_manager.py