# Секретные данные
.env

# Кэш Python
__pycache__/
*.pyc

# Виртуальное окружение
venv/
env/
.env/

# Файлы IDE
.vscode/
.idea/

migrations\versions\

test_async_api.py
test_manual_api.py
test_provider.py